@model EmployeeManager.Models.CreateEmployeeModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        <div>
            <form>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => Model.FirstName)
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => Model.FirstName)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => Model.MiddleName)
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => Model.MiddleName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => Model.LastName)
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => Model.LastName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => Model.BirthDate)
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => Model.BirthDate)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => Model.HireDate)
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => Model.HireDate)
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => Model.Department)
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => Model.Department)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => Model.JobTitle)
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => Model.JobTitle)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => Model.Salary)
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => Model.Salary)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => Model.EmployeeId)
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => Model.EmployeeId)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            @Html.LabelFor(model => Model.AvailableHours)
                        </div>
                        <div class="col-md-6">
                            @Html.EditorFor(model => Model.AvailableHours)
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
                <div class="col-md-3">
                    <button class=" btn btn-secondary" type="submit">Create</button>
                    <button class=" btn btn-secondary" type="submit">Clean</button>
                </div>

            </form>
        </div>
    </div>
</body>
</html>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/Jquery-3.0.0.min.js "></script>
<script src="~/Scripts/bootstrap.min.js "></script>
